.cabeçalho{background-color: #C60909; color: white; display: flex; justify-content: space-around;}
.imagem-logo{width: 80px;}
.cabeçalho-lista{display: inline-block; margin: 0 16px;}
.site{background-color: white;color: #ff0000;}
.imagem-jogadores{width: 180px; height: 130px;}
.rodape{background-color: #C60909; color: white; display: flex; justify-content: space-around;}
.jogadores-div{width: 150px;display: inline-block;}
.clube{text-align: center;}
.jogadores{text-align: center;}